*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Atlan Bold, Helvetica, sans-serif;
  }
  
  h1, h3{
    color: #fff829ff
  }
  
  main {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color:#47b854;
    width: 120vw;
    max-width: 700px;
    border-radius: 8px;
  }
  
  form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  form input[type="text"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  
  form input[type="submit"] {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
  }
  
  
  
  
  